<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/page1" routerLinkActive="activebutton">page1</button> &nbsp;&nbsp;|&nbsp;&nbsp;
  <button mat-button routerLink="/page2" routerLinkActive="activebutton">page2</button> &nbsp;&nbsp;|&nbsp;&nbsp;
  <button mat-button routerLink="/page3" routerLinkActive="activebutton">page3</button> &nbsp;&nbsp;|&nbsp;&nbsp;
  <button mat-button routerLink="/page4" routerLinkActive="activebutton">page4</button> &nbsp;&nbsp;|&nbsp;&nbsp;
  <button mat-button routerLink="/page5" routerLinkActive="activebutton">page5</button> &nbsp;&nbsp;|&nbsp;&nbsp;
  <span class="example-spacer"></span>
  <span class="title">Welcome To Angular Learning</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
